
<body>
  <nav>
  <div class="dashboard">
    <section class="section" id="solde">
     <a routerLink="../solde"><h2>Solde de Congés</h2></a>
      
    </section>

    <section class="section" id="historique">
     <a routerLink="../historique"><h2>Historique</h2></a>
      
    </section>

    <section class="section" id="demandes">
     <a routerLink="../demandeconges"><h2>Demandes de Congés</h2></a>
      
    </section>
    <div class="button-container">
        <a href="../login" class="button3d">Deconnect</a>
  </div>
  </div>
  </nav>
</body>


